header {
  width: 100%;
  background: #fff;
  text-align: center;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 1000;

  a {
    width: 100%;
    text-align: center;
    font-family: MaaBold;
    letter-spacing: 1.5px;
    font-size: 16px;
    color: #1C1C1C;
    text-decoration: none;
    position: relative;
    top: 17px;
    text-transform: uppercase;
  }

  .goBack {
    position: absolute;
    left: 15px;
    top: 19px;
    text-align: left;
    font-size: 13px;
    color: #757575;
    letter-spacing: 1px;
  }

  .doPrava {
    position: absolute;
    right: 15px;
    top: 16px;
    text-align: right;
    letter-spacing: 1.5px;
    font-size: 16px;
  }

  @media screen and (min-width: 700px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.headerInner {
  position: relative;
  max-width: 690px;
  width: 100%;
  margin: 0 auto;
}
