<!DOCTYPE html>
<html>
  {% include art.html %}
  {% include head.html %}

  <body>

    <header>
      <div class="headerInner">
        <a class="goBack" href="/">get me back</a>
        <a class="doPrava" href="/">JIRI STEPANEK</a>
      </div>
    </header>

    <section class="clanek">
      <hr>
      <h1>{{ page.title }}</h1>
      <p class="datum">{{ page.date | date: "%m/%d/%Y" }}</p>
      <hr>
      <div class="content">
        {{ content }}
      </div>
      <hr>
    </section>

    <section class="podClankem">
      <div class="pravaCast articles">
        <div class="articlesInner">
          <h2>articles</h2>
          <ul>
          {% for post in site.posts %}
            <li class="article">
              <h3>
                <a href="{{ post.url }}">{{ post.title }}</a>
              </h3>
              <p class="datum">{{ post.date | date: "%m/%d/%Y" }}</p>
              <p class="uryvek">{{ post.uryvek }}</p>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
      <div class="levaCast">
        <div class="konzultace">
          <p>Can I help you with anything?<br>Let’s chat for 30 minutes!</p>
          <a href="https://jiristepanek1.typeform.com/to/QoGofW">schedule free consultation</a>
        </div>
        <footer>
          <div class="innerFooter">
            <div class="cara"></div>
            <p>thanks for your attention<br><br>Jiri Stepanek</p>
          </div>
        </footer>
      </div>
    </section>
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/assets/js/app.js"></script>
</html>
